.container{
    max-width: 300px;
    margin: auto;

    
}

.container button{
  
  position:relative;
  margin:0 auto;

  
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

.kisi {
    display: grid;
    grid-template-columns: 100px 100px;
    column-gap: 25px;
    margin-bottom: 25px;
    align-items: center;
    
  }
  .kisi img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}